/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

.scroll{
	position: fixed;	
	background-color: #ffffff;
	margin-top: -20px;
}

/* This nav d*/
.navbar {
	display: flex;
	margin: 20px;
	 flex-direction: row;
	 
}

/* Nav g */
.navbar ul li a {
	border: 1px solid grey;
	padding: 10px;
	border-radius: 3px;	
}
/* lala dot*/
.slack-logo-nav > img {
	display: inline-block;
	width: 20%;
	float: left;
}
/*lala not*/
.nav-menu {
	display:flex;
	float: right;
	width: 70%;
	margin: 10px;
	justify-content: flex-end;
	color:#5b5e6d;
	text-decoration: none;
	width: 100%;
	height: 100%;
		
}
/* lalat w*/
ul li a {
	text-decoration: none;
	color:#5b5e6d;
	border: 12px;
	border-color: black;
}

/*lalat o*/
ul li {
	display: inline-block;
	margin: 12px;
	text-decoration: none;
}

 .fa-fa-bars{
	text-decoration: none;
}
/*lalat h*/
hr {
	
	width: 96%;
	text-align: center;
	
	border-color: #5b5e6d;
}



header {
	display: flex;
	width: 80%;
	margin: auto;
	justify-content: center;
	height: 700px;

}
.home-landing-main-text {
	width: 50%;
	padding-left: 5%;
	margin-top: 10%;

}
.home-main-img-container {
	margin-top: 10%;
	width: 50%;
	margin-top: 15%;
}

.home-main-img-container > img {
	width: 100%;
	height: auto;
}

.home-landing-main-text h1 {
	font-size: 100px;
}
 .home-landing-main-text p {
 	width: 100%;
 	text-align: justify;
 	color: #5b5e6d;
 }

.home-landing-main-text button {
	color: #FFFFFF ; 
	width: 130px;
	height: 50px;
	background-color: #483D8B ; 
	border-radius: 6px;
}
 
.home-landing-main-text a {
	color: #483D8B;
}

.other-companies-row {
	width: 90%;
	margin: auto;
	text-align: center;
	margin-top: 40px;
	background-color: #F4F3F4;
	
}

main .other-companies-row > h2 {
	text-align: center;
	margin-top: 7%;
	display: inline;
	
	width: 60px;
}

.logo-container {

	display: flex;
	 flex-direction: column;
	 justify-content: space-around;
	 width: 80%;
	 margin: 5%;
	 s
	 
	
}
 .logos {
 	display: flex;
 	flex-direction: row;
 	justify-content: space-around;
 	margin-left: 10%;
 	
 }
 .logos > div {
 	width: 40%;
 	padding: 6%;
	
 }
 .logos div > img {
 	width: 120%;
 	height:auto;

 }
 .other-companies-row p  button {
 	width: 250px;
 	height: 50px;
 	border-radius: 6px;
 }
 .try-it-row {
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	width: 90%;
 	margin: auto;
}
.try-it-row button {
	width: 150px;
	height: 50px;
	border-radius: 4px;
	background-color: #192592;
	color: #FFF;
}
.sitemap-row {
	display: flex;
	flex-direction: row;
 	justify-content: space-between;
 	width: 97%;
 	padding-top: 8%;
}
 .lists {
 	display: flex;
	flex-direction: column;


 }
 .listsp {
 	display: flex;
	flex-direction: row;
 }
 .imgee img {
 	padding-bottom: 50px;
 }
 
.fouterc { 
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.listfooter {
	display: flex;
	flex-direction: row;
}
.listimg {
	display: flex;
	flex-direction: row;
}