/*

Vert: #7ed56f
Vert medium: #55c57a
Dark vert: #28b485

*/

/* Copyright @TIJANI ABDELLATIF 
Front web developer 

*/ 

/* normaliser le css */

*
{
font-family: 'lato' , sans-serif;   
font-weight: 400; 
text-transform: uppercase;

}

body {


}

/* le corps de la page */
.header 
   
{
background-image:linear-gradient(
      rgba(10, 200, 0, 0.2), 
      rgba(209, 252, 108, 0.5)) , url("../img/hero.jpg" ) ; 
-webkit-clip-path: polygon(0 0, 100% 0%, 100% 89%, 0% 100%);
margin: 14px 14px 0 14px;
height: 594px;

   

}

.logo
{


}

.logowhite
{
    width: 6.5%;
    margin: 3.5% 0 0 3.5%;
    animation: moveInBottom 2s ease-out .75s;
    animation-fill-mode: backwards;

}

.main
{

   text-align: center;

}
.heading1{
   
  color: white;
display: grid;
text-align: center;

    
}
.heading11
{
    padding-top: 8%;
    letter-spacing: 40px;
    animation: moveInRight 2s ease-out;
    padding-bottom: 30px;
    
    
    font-size: 60px;

}

.heading12
{    animation: moveInLeft 2s; 
      animation-timing-function:  ease-out;

    letter-spacing: 16px;
    font-size: 19px; 
    margin-bottom: 80px;


}

/* Animation */ 







@keyframes moveInBottom
{
    0%
    {
       
        transform: translate(7px,-90px);
       
    }

    80%
    {
      transform: translate(3px,0px);
 

    }

    100%
    {
       
        transform: translate(0px,0px);

    }
}


@keyframes moveInLeft
{
    0%
    {
       opacity: 0;
      transform: translate(100px, 20px);
      
      
    }

   /* 60%
    {
       transform: rotate(30deg) ;
    }
    */

    80%
    {
    }

    100%
    {
      opacity: 1;
      transform: translate(0px, 0px);
    }
}

@keyframes moveInRight
{
  0%
  {
     opacity: 0;
    transform:translateX(-100px) ;
  }

 /* 60%
  {
     transform: rotate(30deg) ;
  }
  */

  80%
  {
  }

  100%
  {
    opacity: 1;
    transform:translate(0px) ;
  }
}


/* bouton */ 
.btn:link,.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
    position: relative;
}
 

.btn:hover{

  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.5);


}
.btn:active
{
    transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);


   
}

.btn-white
{
    background-color: #fff;
    color: gray;
    padding: 22px 30px 22px 30px ;

    }

/* animer le boutton behind the scene  */ 

.btn::after /* l'element fils apres le bouton */
{
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 80px;
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  z-index: -1;
  transition: .4s;


}

.btn-white::after /* l'element fils apres le bouton */{
  /* 
    mettez l'element en rouge pour voir la difference
*/
}
.btn:hover::after
{
   transform: scale(1.8,1.8);
    background-color: #fff;
    opacity:0;
    transition: .4s;
}
.btn-animated 
{
    animation: moveInRight 2s ease-out .75s;
    animation-fill-mode: backwards;

   
}
